#Getting started

In [7]:
import pandas as pd

#1. Creating data
   - Có 2 cách khởi tạo 1 dữ liệu mới pandas: DataFarm và Series

In [8]:
"""
DataFrame tạo ra một bảng, nó chứa một mảng các mục entries và mỗi mục có một giá trị cụ thể
Mỗi mục tương ứng với một hàng và một cột
"""
pd.DataFrame({'Yes': [50, 20], 'No': [31, 12]})

   Yes  No
0   50  31
1   20  12

In [9]:
"""
Danh sách các nhãn hàng được sử dụng trong một DataFrame được gọi là Index
Chúng ta có thể gán giá trị cho nó bằng cách sử dụng tham số index trong hàm tạo của chúng ta
"""
pd.DataFrame({'Yes': [50, 20], 'No': [31, 12]}, index = [1,2])

   Yes  No
1   50  31
2   20  12

In [10]:
"""
Series trái ngược với DataFarme, là một chuỗi các giá trị dữ liệu. 
Nếu DataFrame là một bảng thì Series là một danh sách. 
Và thực tế, bạn có thể tạo một Series chỉ với một danh sách
"""
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [11]:
"""
Về cơ bản Seris là một cột đơn của DataFrame. 
Vì vậy, bạn có thể gán nhãn hàng cho Series theo cùng cách như trước đó, bằng cách sử dụng tham số index. 
Tuy nhiên, một Series không có tên cột, nó chỉ có một tên tổng thể
"""
pd.Series([1,2], index=["Pro1", "Pro2"])

Pro1    1
Pro2    2
dtype: int64

In [12]:
"""
Các Series và DataFrame có mối quan hệ mật thiết với nhau. 
Nó hữu ích khi coi một DataFrame thực chất chỉ là nhiều Series gắn lại với nhau.
"""

'\nCác Series và DataFrame có mối quan hệ mật thiết với nhau. \nNó hữu ích khi coi một DataFrame thực chất chỉ là nhiều Series gắn lại với nhau.\n'

#2. Reading data files

In [13]:
"""
Dữ liệu có thể được lưu trữ dưới bất kỳ dạng và định dạng nào khác nhau. 
Theo đó, CSV là định dạng cơ bản nhất.

Một tệp CSV là một bảng các giá trị được phân tách bằng dấu phẩy.
Do đó, được gọi là "Comma-Separated Values" hoặc CSV.
"""

'\nDữ liệu có thể được lưu trữ dưới bất kỳ dạng và định dạng nào khác nhau. \nTheo đó, CSV là định dạng cơ bản nhất.\n\nMột tệp CSV là một bảng các giá trị được phân tách bằng dấu phẩy.\nDo đó, được gọi là "Comma-Separated Values" hoặc CSV.\n'

In [14]:
"""
Chúng ta sẽ sử dụng hàm pd.read_csv() để đọc dữ liệu vào DataFrame
"""

# pd.read_cvs("path")

'\nChúng ta sẽ sử dụng hàm pd.read_csv() để đọc dữ liệu vào DataFrame\n'

In [15]:
"""
Chúng ta có thể sử dụng thuộc tính shape để kiểm tra kích thước của DataFrame kết quả
"""

# file = pd.read_cvs("path")
# print(file.shape)

"""
Kết quả sẽ là một tuple, với phần tử đầu tiên là số lượng hàng và phần tử thứ hai là số lượng cột của DataFrame.
"""

'\nKết quả sẽ là một tuple, với phần tử đầu tiên là số lượng hàng và phần tử thứ hai là số lượng cột của DataFrame.\n'

In [16]:
"""
Chúng ta có thể xem nội dung của DataFrame kết quả bằng cách sử dụng lệnh head(), lệnh này lấy ra năm hàng đầu tiên
"""

# print(file.head())

'\nChúng ta có thể xem nội dung của DataFrame kết quả bằng cách sử dụng lệnh head(), lệnh này lấy ra năm hàng đầu tiên\n'

In [17]:
"""
Hàm pd.read_csv() có hơn 30 tham số tùy chọn mà bạn có thể chỉ định. 
Ví dụ, bạn có thể thấy trong tập dữ liệu này rằng tệp CSV có một chỉ mục tích hợp, nhưng pandas không phát hiện ra một cách tự động. 
Để làm cho pandas sử dụng cột đó cho chỉ mục (thay vì tạo một chỉ mục mới từ đầu), chúng ta có thể chỉ định một index_col.
"""

# file = pd.read_cvs("path", index_col= 0)

'\nHàm pd.read_csv() có hơn 30 tham số tùy chọn mà bạn có thể chỉ định. \nVí dụ, bạn có thể thấy trong tập dữ liệu này rằng tệp CSV có một chỉ mục tích hợp, nhưng pandas không phát hiện ra một cách tự động. \nĐể làm cho pandas sử dụng cột đó cho chỉ mục (thay vì tạo một chỉ mục mới từ đầu), chúng ta có thể chỉ định một index_col.\n'

In [18]:
"""
Bạn có thể lưu DataFrame của mình thành một tệp CSV bằng cách sử dụng phương thức to_csv() của pandas
"""

# a = pd.DataFrame({'Yes': [50, 20], 'No': [31, 12]}, index = [1,2])
# a.to_csv("path")

'\nBạn có thể lưu DataFrame của mình thành một tệp CSV bằng cách sử dụng phương thức to_csv() của pandas\n'

#3. Indexing, Selecting and Assigning

In [19]:
"""
Việc lựa chọn các giá trị cụ thể của một pandas DataFrame hoặc 
Series để làm việc là một bước ngầm định trong hầu hết các hoạt động xử lý dữ liệu 
"""

'\nViệc lựa chọn các giá trị cụ thể của một pandas DataFrame hoặc \nSeries để làm việc là một bước ngầm định trong hầu hết các hoạt động xử lý dữ liệu \n'

In [20]:
"""
Trong Pandas, set_option là một phương thức của đối tượng pandas.options, được sử dụng để thiết lập 
các tùy chọn hiển thị và tham số của DataFrame hoặc Series. Phương thức set_option cho phép bạn tinh 
chỉnh cách hiển thị dữ liệu, định dạng và kiểu dữ liệu được in ra trên terminal hoặc notebook của bạn.

Cú pháp chung của phương thức set_option là:
"""

# pd.set_option(option, value)

"""
Trong đó, option là tên của tùy chọn cần thiết lập, và value là giá trị mới được thiết lập cho tùy chọn đó. 
Ví dụ, để hiển thị tất cả các dòng và cột của DataFrame khi in ra, bạn có thể sử dụng:
"""

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)


"""
Các tùy chọn phổ biến khác bao gồm precision (số chữ số thập phân hiển thị), 
max_colwidth (chiều rộng tối đa của các cột), date_yearfirst (định dạng ngày/tháng/năm) 
và mode.sim_interactive (cho phép tương tác trong chế độ hiển thị).

Lưu ý rằng việc sử dụng set_option có thể ảnh hưởng đến tất cả các DataFrame và Series 
trong môi trường làm việc của bạn, do đó cần cẩn thận khi sử dụng để không làm 
ảnh hưởng đến các tùy chọn khác của Pandas.
"""

'\nCác tùy chọn phổ biến khác bao gồm precision (số chữ số thập phân hiển thị), \nmax_colwidth (chiều rộng tối đa của các cột), date_yearfirst (định dạng ngày/tháng/năm) \nvà mode.sim_interactive (cho phép tương tác trong chế độ hiển thị).\n\nLưu ý rằng việc sử dụng set_option có thể ảnh hưởng đến tất cả các DataFrame và Series \ntrong môi trường làm việc của bạn, do đó cần cẩn thận khi sử dụng để không làm \nảnh hưởng đến các tùy chọn khác của Pandas.\n'

In [21]:
"""
Trong Python, chúng ta có thể truy cập vào các thuộc tính 
của một đối tượng bằng cách truy cập nó như một thuộc tính. 
Ví dụ, một đối tượng sách có thể có một thuộc tính "title", mà 
chúng ta có thể truy cập bằng cách gọi book.title. 
Các cột trong một DataFrame của Pandas cũng hoạt động theo cách tương tự.
"""


"""
1. Sử dụng chỉ mục (indexing):
"""

# country_column = reviews['country']

"""
2. Sử dụng truy cập thuộc tính (attribute access):
"""

# country_column = reviews.country


"""
Cả hai phương pháp này đều tương đương và sẽ trả về một Series của Pandas chứa 
các giá trị của cột "country" của DataFrame "reviews". 
Chúng ta có thể sử dụng Series này cho các phân tích hoặc thao tác tiếp theo.

Lưu ý rằng phương thức truy cập thuộc tính chỉ có thể sử dụng cho các tên cột 
là các định danh hợp lệ trong Python (tức là các tên cột có thể được sử dụng làm 
tên biến trong Python). Nếu tên cột chứa khoảng trắng hoặc các ký tự đặc biệt, 
chúng ta phải sử dụng chỉ mục thay vì truy cập thuộc tính.
"""

'\nCả hai phương pháp này đều tương đương và sẽ trả về một Series của Pandas chứa \ncác giá trị của cột "country" của DataFrame "reviews". \nChúng ta có thể sử dụng Series này cho các phân tích hoặc thao tác tiếp theo.\n\nLưu ý rằng phương thức truy cập thuộc tính chỉ có thể sử dụng cho các tên cột \nlà các định danh hợp lệ trong Python (tức là các tên cột có thể được sử dụng làm \ntên biến trong Python). Nếu tên cột chứa khoảng trắng hoặc các ký tự đặc biệt, \nchúng ta phải sử dụng chỉ mục thay vì truy cập thuộc tính.\n'

#4. Indexing in pandas

In [22]:
"""
Toán tử chỉ mục và lựa chọn thuộc tính rất tiện lợi trong pandas vì chúng hoạt động giống như trong toàn bộ hệ sinh thái Python. 
Điều này giúp cho việc sử dụng chúng dễ dàng đối với người mới bắt đầu. Tuy nhiên, 
pandas cũng có các toán tử accessor riêng của nó, đó là 'loc' và 'iloc'. 
Đối với các hoạt động nâng cao hơn, chúng ta nên sử dụng chúng.
"""

"\nToán tử chỉ mục và lựa chọn thuộc tính rất tiện lợi trong pandas vì chúng hoạt động giống như trong toàn bộ hệ sinh thái Python. \nĐiều này giúp cho việc sử dụng chúng dễ dàng đối với người mới bắt đầu. Tuy nhiên, \npandas cũng có các toán tử accessor riêng của nó, đó là 'loc' và 'iloc'. \nĐối với các hoạt động nâng cao hơn, chúng ta nên sử dụng chúng.\n"

In [23]:
# Index-based selection

"""
Pandas indexing hoạt động theo hai mô hình khác nhau. 
Mô hình đầu tiên là lựa chọn dựa trên chỉ mục (index-based selection): 
lựa chọn dữ liệu dựa trên vị trí số của nó trong dữ liệu. iloc theo mô hình này.

Để chọn hàng đầu tiên của dữ liệu trong một DataFrame, chúng ta có thể sử dụng công thức sau:
"""

# first_row = df.iloc[0]

"""
Trong đó, df là DataFrame của chúng ta và iloc[0] chỉ định rằng chúng ta muốn lấy ra hàng đầu tiên của dữ liệu. 
Chúng ta cũng có thể chọn ra nhiều hàng bằng cách sử dụng một list các chỉ mục, 
ví dụ iloc[[0, 1, 2]] sẽ lấy ra các hàng có chỉ mục là 0, 1 và 2.

Ngoài ra, chúng ta cũng có thể lựa chọn hàng và cột cụ thể bằng cách sử dụng iloc. 
Ví dụ, iloc[0, 0] sẽ trả về giá trị đầu tiên trong DataFrame, 
iloc[:, 0] sẽ trả về cột đầu tiên của DataFrame, 
iloc[0:3, :] sẽ trả về 3 hàng đầu tiên của DataFrame và tất cả các cột.
"""

'\nTrong đó, df là DataFrame của chúng ta và iloc[0] chỉ định rằng chúng ta muốn lấy ra hàng đầu tiên của dữ liệu. \nChúng ta cũng có thể chọn ra nhiều hàng bằng cách sử dụng một list các chỉ mục, \nví dụ iloc[[0, 1, 2]] sẽ lấy ra các hàng có chỉ mục là 0, 1 và 2.\n\nNgoài ra, chúng ta cũng có thể lựa chọn hàng và cột cụ thể bằng cách sử dụng iloc. \nVí dụ, iloc[0, 0] sẽ trả về giá trị đầu tiên trong DataFrame, \niloc[:, 0] sẽ trả về cột đầu tiên của DataFrame, \niloc[0:3, :] sẽ trả về 3 hàng đầu tiên của DataFrame và tất cả các cột.\n'

In [24]:
# Label-based selection

"""
Mô hình thứ hai cho lựa chọn thuộc tính là mô hình được theo sau bởi toán tử loc: 
lựa chọn dựa trên nhãn (label-based selection). Trong mô hình này quan trọng là giá trị chỉ mục của dữ liệu, 
chứ không phải vị trí của nó..

Ví dụ, để lấy mục đầu tiên trong reviews, chúng ta sẽ thực hiện như sau:
"""

# first_entry = reviews.loc[0]

"""
Ở đây, chúng ta đang yêu cầu lấy dữ liệu có chỉ mục (nhãn) là 0. 
Chúng ta cũng có thể chọn các hàng và cột cụ thể bằng cách sử dụng toán tử loc. 
Ví dụ, loc[0, 'country'] sẽ trả về giá trị của cột 'country' trong hàng đầu tiên của DataFrame.
"""

# first_entry = reviews.loc[0, 'country']

"\nỞ đây, chúng ta đang yêu cầu lấy dữ liệu có chỉ mục (nhãn) là 0. \nChúng ta cũng có thể chọn các hàng và cột cụ thể bằng cách sử dụng toán tử loc. \nVí dụ, loc[0, 'country'] sẽ trả về giá trị của cột 'country' trong hàng đầu tiên của DataFrame.\n"

In [25]:
# Choosing between loc and iloc

"""
Khi chọn hoặc chuyển đổi giữa loc và iloc, 
có một "lỗi khó nhìn" đáng để lưu ý, đó là hai phương pháp này sử dụng các lược đồ chỉ mục hơi khác nhau.
"""

"""
iloc sử dụng lược đồ chỉ mục của Python stdlib, 
trong đó phần tử đầu tiên của phạm vi được bao gồm và phần tử cuối cùng bị loại bỏ. 
"""

"""
Vì vậy, 0:10 sẽ chọn các mục 0, ..., 9. 
Trong khi đó, loc sẽ chọn các mục trong toàn bộ phạm vi đó. Vì vậy, 0:10 sẽ chọn các mục 0, ..., 10.
"""

# Tại sao lại thay đổi như vậy? 

# Hãy nhớ rằng loc có thể chỉ mục bất kỳ loại stdlib nào: chuỗi, ví dụ. 

"""
Nếu chúng ta có một DataFrame với các giá trị chỉ mục Apples, ..., Potatoes, ... và 
chúng ta muốn chọn "tất cả các lựa chọn trái cây theo thứ tự chữ cái giữa Apples và Potatoes", 
thì việc chỉ mục df.loc['Apples':'Potatoes'] rất tiện lợi hơn là 
chỉ mục df.loc['Apples', 'Potatoes'] (chữ t đứng sau chữ s trong bảng chữ cái).
"""

"""
Điều này đặc biệt gây nhầm lẫn khi chỉ mục của DataFrame là một danh sách số đơn giản, 
ví dụ 0, ..., 1000. Trong trường hợp này, df.iloc[0:1000] sẽ trả về 1000 mục, 
trong khi df.loc[0:1000] sẽ trả về 1001 mục! Để có được 1000 phần tử bằng cách sử dụng loc, 
bạn cần giảm xuống một và yêu cầu df.loc[0:999].

Ngoài ra, cú pháp sử dụng loc giống như cú pháp sử dụng iloc.
"""

'\nĐiều này đặc biệt gây nhầm lẫn khi chỉ mục của DataFrame là một danh sách số đơn giản, \nví dụ 0, ..., 1000. Trong trường hợp này, df.iloc[0:1000] sẽ trả về 1000 mục, \ntrong khi df.loc[0:1000] sẽ trả về 1001 mục! Để có được 1000 phần tử bằng cách sử dụng loc, \nbạn cần giảm xuống một và yêu cầu df.loc[0:999].\n\nNgoài ra, cú pháp sử dụng loc giống như cú pháp sử dụng iloc.\n'

#5. Manipulating the index

In [ ]:
"""
Trong pandas, chỉ mục (index) là một công cụ mạnh mẽ để lựa chọn, lọc và xử lý dữ liệu. 
Đôi khi, bạn có thể cần điều chỉnh chỉ mục để làm cho nó hữu ích hơn cho phân tích của bạn.
"""

"""
Một thao tác phổ biến là thiết lập chỉ mục mới. 
Để làm điều này, bạn có thể sử dụng phương thức set_index của DataFrame, 
nó trả về một DataFrame mới với cột được chỉ định làm chỉ mục. 
Ví dụ, để đặt cột "title" làm chỉ mục của một DataFrame "df", bạn có thể sử dụng.
"""

# df.set_index('title')

In [ ]:
"""
Bạn cũng có thể đặt lại chỉ mục về chỉ mục số mặc định bằng cách sử dụng phương thức reset_index. 
Điều này có thể hữu ích khi bạn muốn xóa chỉ mục hiện tại hoặc khi bạn cần chuyển đổi chỉ mục thành một cột. 
Ví dụ, để đặt lại chỉ mục của DataFrame "df", bạn có thể sử dụng:
"""

# df.reset_index()

"""
Ngoài việc thiết lập và đặt lại chỉ mục, bạn cũng có thể điều chỉnh chỉ mục trực tiếp. 
Ví dụ, bạn có thể đổi tên chỉ mục bằng cách sử dụng phương thức rename_axis, 
hoặc bạn có thể thay đổi giá trị của chỉ mục bằng cách sử dụng phương thức map.

Tổng thể, việc điều chỉnh chỉ mục trong pandas có thể là một công cụ mạnh mẽ để tổ chức và phân tích dữ liệu của bạn.
"""

In [ ]:
"""
Conditional selection (lựa chọn có điều kiện) là phương pháp để chọn các dòng (rows) của DataFrame 
dựa trên điều kiện (condition) được chỉ định. Chúng ta có thể sử dụng các toán tử so sánh 
(comparison operators) như == (bằng), != (không bằng), < (nhỏ hơn), > (lớn hơn), <= (nhỏ hơn hoặc bằng), >= (lớn hơn hoặc bằng) 
để tạo ra các điều kiện. Ví dụ:
"""

# Chọn các dòng có giá trị 'country' là 'Italy'
#reviews.loc[reviews['country'] == 'Italy']

# Chọn các dòng có giá trị 'points' lớn hơn hoặc bằng 90
#reviews.loc[reviews['points'] >= 90]

# Chọn các dòng có giá trị 'price' dưới 20 đô la và 'points' lớn hơn hoặc bằng 90
#reviews.loc[(reviews['price'] < 20) & (reviews['points'] >= 90)]

"""
Ngoài ra, chúng ta cũng có thể sử dụng các phương thức isin() để chọn các giá trị thuộc một danh sách giá trị cụ thể.
"""

# Chọn các dòng có giá trị 'province' thuộc danh sách các tỉnh 'Tuscany', 'Sicily & Sardinia', hoặc 'Piedmont'
#reviews.loc[reviews['province'].isin(['Tuscany', 'Sicily & Sardinia', 'Piedmont'])]

In [ ]:
"""
Với cách thứ hai, là isnull (và đối tác của nó là notnull). 
Các phương thức này cho phép bạn đánh dấu các giá trị có giá trị rỗng (NaN) (hoặc không rỗng). 
Ví dụ, để lọc ra những chai rượu thiếu giá trong tập dữ liệu, chúng ta sẽ làm như sau:
"""

#reviews.loc[reviews.price.notnull()]

#6. Assigning data (Phân bổ dữ liệu)

In [ ]:
"""
Một thao tác thông thường khác mà bạn sẽ thường xuyên sử dụng là phân bổ dữ liệu. 
Cách đơn giản nhất để làm điều này là chỉ đơn giản gán vào một mới giá trị cho cột đã tồn tại. 
Bạn có thể thay đổi giá trị của một toàn bộ cột:
"""

# reviews['critic'] = 'everyone'

"""
Thay đổi một cột nguyên vẹn bằng cách gán nó với một danh sách Python mới hoàn toàn.
"""

# reviews['index_backwards'] = range(len(reviews), 0, -1)